@import url('https://fonts.googleapis.com/css?family=Overlock:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

html {
    font-size: 16px;
}

@media screen and (max-width: 568px) {
    html {
        font-size: 12px;
    }
}

h3 {
    font-family: 'Fira Sans', sans-serif;
}

.container-heading {
    max-width: 920px;
}

.left-border-holder {
    width: 100%;
    height: 300px;
    position: absolute;
    padding: 10px;
}

.left-border {
    background-image: url('/img/tealborder-left.png');
    background-repeat: no-repeat;
    background-size: 320px;
    background-position: top left;
    width: 100%;
    height: 300px;
}

.right-border-holder {
    width: 100%;
    height: 300px;
    position: absolute;
    padding: 10px;
}

.right-border {
    background-image: url('/img/tealborder-right.png');
    background-repeat: no-repeat;
    background-size: 320px;
    background-position: top right;
    width: 100%;
    height: 300px;
}

@media screen and (max-width: 1520px) {
    .left-border, .right-border {
        background-size: 200px;
    }
}

@media screen and (max-width: 568px) {
    .left-border, .right-border {
        background-size: 140px;
    }
}

@media screen and (max-width: 400px) {
    .left-border, .right-border {
        background-size: 100px;
    }
}

.invite-top {
    -webkit-box-shadow: 0px -0.1rem 1rem 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px -0.1rem 1rem 0px rgba(0,0,0,0.8);
    box-shadow: 0px -0.1rem 1rem 0px rgba(0,0,0,0.8);
}

.invite-top.bg-paper {
    padding-top: 0;
}

.invite-top.half-bg::after {
    content: "";
    background-image: url("/img/clean-textile.png");
    /*background-color: #ffffde;*/
    background-color: #ffffff;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.invite-bottom {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('/img/palmerstown2.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.invite-footer::after {
    content: "";
    background-image: url("/img/clean-textile.png");
    background-color: #ffffff;
    opacity: 0.4;
}

.invite-footer {
    background-image: url("/img/clean-textile.png");
    background-color: #ffffff;
    text-align: center;
    padding: 2.5rem 0;
    padding-right: 1.7rem;
}

.invite-footer img {
    width: 100px;
}

/******************************************/

.invite-heading {
    text-align: center;
    padding: 3.75rem 0 3.125rem 0;
    font-size: 2.75rem;
    letter-spacing: -0.1rem;
    color: #009ba3;
    font-style: italic;
    font-weight: 400;
    font-family: Overlock, sans-serif;
}

.invite-heading .lead {
    font-size: 1.25rem;
    letter-spacing: normal;
    margin-bottom: 1.6rem;
    font-style: normal;
}

.invite-heading .lead p {
    margin-bottom: 0.3rem;
}

.invite-heading .lead .name {
    font-size: 1.5rem;
    font-weight: 900;
}

.invite-heading .lead .note {
    width: 36rem;
    margin: 0 auto;
    line-height: 1;
}

.invite-heading .hero {
    line-height: 0.8;
}

.invite-heading .hero .name {
    font-size: 4.5rem;
    color: #008c94;
    font-style: italic;
}

.invite-heading .hero .and {
    line-height: 0.2;
    padding-top: 0.3rem;
}

@media screen and (max-width: 400px) {
    .invite-heading {
        font-size: 2rem;
        padding: 2.73rem 0 2.27rem 0;
    }

    .invite-heading .hero .name {
        font-size: 3.27rem;
    }
}


.bg-paper hr.rule {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #009ba3;
    color: #009ba3;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 890px;
}


@media screen and (max-width: 1100px) {
    .bg-paper hr.rule {
        width: 600px;
    }
}


@media screen and (max-width: 768px) {
    .bg-paper hr.rule {
        width: 80%;
    }
}

.button-container {
    width: 44rem;
    margin: 0 auto;
}

a.button {
    display: block;
    float: left;
    width: 20rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 200;
    background: #fff;
    border-radius: 0.6rem;
    padding: 1rem;
    margin: 0 1rem;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
    -webkit-box-shadow: 0 3px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 3px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.2);
}

a.button:hover {
    background-color: #009ba3;
}

/**********************************/

.when-and-where {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    width: 890px;
    margin: 1rem auto 0 auto;
}

.when-and-where .time-and-date {
    float: left;
    width: 445px;
    margin: 0 auto 2rem auto;
    font-size: 1.6rem;
}

.when-and-where .time-and-date .day {
    line-height: 1rem;
}

.when-and-where .time-and-date .date {
    font-size: 2.2rem;
    font-weight: 500;
    font-style: normal;
    line-height: 3rem;
}

.when-and-where .time-and-date .date-day {
    letter-spacing: 0rem;
}

.when-and-where .time-and-date .date-year {
    letter-spacing: 0rem;
}

.when-and-where .time-and-date .time {
    font-variant: small-caps;
}

.when-and-where .location {
    float: left;
    width: 445px;
    margin: 0 auto;
    font-size: 2rem;
    font-style: normal;
}

.when-and-where .building {
    line-height: 1rem;
    font-weight: 200;
    font-size: 1.6rem;
}

.when-and-where .venue {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3rem;
}

.when-and-where .county {
    font-weight: 100;
    font-size: 1.6rem;
}

.details hr.rule {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #fff;
    color: #fff;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 890px;
}

.rsvp-cta {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

.rsvp-cta a,
.rsvp-cta a:visited,
.rsvp-cta a:active {
    color: #fff;
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 2rem;
    transition: 0.3s;
    padding-left: 2rem; /* Hack to centre the text */
}

.rsvp-cta a:hover {
    text-decoration: none;
    color: #009ba3;
    text-shadow: 0 0 1rem #000000;
}

.rsvp-cta p {
    font-size: 1.6rem;
    font-weight: 400;
}

.rsvp {
    padding: 2rem 0 1rem 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.rsvp a,
.rsvp a:visited,
.rsvp a:active {
    color: #fff;
    transition: 0.3s;
    text-decoration: underline;
}

.rsvp a:hover {
    color: #009ba3;
    text-shadow: 0 0 1rem #00000033;
}

/************************************/

.countdown {
    font-family: 'Fira Sans', sans-serif;
    width: 32rem;
    margin: 0 auto;
}

.countdown .segment {
    float: left;
    text-align: center;
    width: 8rem;
}

.countdown .value {
    font-size: 3rem;
    line-height: 1;
    font-weight: 900;
}

.countdown .label {
    font-weight: 100;
}

#post-countdown {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

/************************************/

.photo {
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    position:relative;
}

.photo.photo-left {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.photo.photo-right {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);
}

.col-narrow {
    float: left;
    width: 370px;
}

.col-wide {
    float: left;
    width: 740px;
}

.col-wide.col-wide-rules {
    width: 600px;
}

.subcol {
    float: left;
    width: 360px;
    text-align: justify;
}

.subcol.subcol-left {
    margin-right: 20px;
}

.bg-paper {
    background-image: url("/img/clean-textile.png");
    background-color: #ffffff;
    padding-top: 3rem;
    font-weight: 300;
}

.bg-paper.bg-flush {
    padding-top: 0;
}

.bg-paper a,
.bg-paper a:visited,
.bg-paper a:active {
    color: #009ba3;
}

.bg-photo {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    color: #fff;
}

.bg-photo a,
.bg-photo a:visited,
.bg-photo a:active {
    color: #fff;
    text-decoration: underline;
}

.bg-photo a:hover {
    color: #ddd;
}

.bg-manor-house {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('/img/palmerstown2.jpg');
    background-size: cover;
    background-position: center;
}

.bg-estate {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('/img/palmerstown1.jpg');
    background-size: cover;
    background-position: center;
}


/***********************************************/

.timeline-wrapper {
    margin: 0;
    padding: 0;
    background: #00000010;

    color: rgb(50,50,50);
    font-size: 112.5%;
    line-height: 1.6em;
}

.timeline-wrapper, .timeline-wrapper ::before, .timeline-wrapper ::after {
    box-sizing: content-box;
}

/* ================ The Timeline ================ */

.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    padding: 1em 0;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);

    z-index: 5;
}

.timeline li {
    padding: 1em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 300px;
    float: right;
}

.flag-wrapper {
    position: relative;
    display: inline-block;

    text-align: center;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;

    font-weight: 600;
    text-align: left;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #009ba3;
    z-index: 10;
}

.direction-r .flag:before {
    left: -40px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: inline;

    line-height: 1em;
    font-size: 0.66666em;
    color: #009ba3;
    vertical-align: middle;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.timeline .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
}

.desc {
    margin: 1em 0.75em 0 0;

    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
}

.direction-r .desc {
    margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }

    .timeline li {
        padding: 2em 0;
    }

    .direction-l,
    .direction-r {
        float: none;
        width: 100%;

        text-align: center;
    }

    .flag-wrapper {
        text-align: center;
    }

    .flag {
        background: rgb(255,255,255);
        z-index: 15;
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -9px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid #009ba3;
        z-index: 10;
    }

    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255,255,255);
        border-width: 8px;
        pointer-events: none;
    }

    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }

    .direction-l .time-wrapper {
        float: none;
    }

    .direction-r .time-wrapper {
        float: none;
    }

    .desc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgb(245,245,245);
        -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        box-shadow: 0 0 1px rgba(0,0,0,0.20);

        z-index: 15;
    }

    .direction-l .desc,
    .direction-r .desc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;

        z-index: 15;
    }

}

@media screen and (min-width: 400px ?? max-width: 660px) {

    .direction-l .desc,
    .direction-r .desc {
        margin: 1em 4em 0 4em;
    }

}